<% if users.exists? %>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>name</th>
        <th>Give</th>
        <th>Take</th>
        <th>業界</th>
        <th>勤務地</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
              <%= user.name %>
            <% end %>
          </td>
          <td>業界</td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>