<div>
  <h3>tweet</h3>
    <%= form_with model: @tweet, local:true do |f| %>
      <%= f.text_area :body %>
      <%= f.attachment_field :image %>
      <%= f.submit '投稿' , class: 'btn btn-success' %>
    <% end %>
  </div>
  <div>
    <h2>Tweet</h2>
    <% @tweets.each do |tweet| %>
      <%= link_to user_path(tweet.user) do %>
        <p><%= attachment_image_tag tweet.user, :profile_image_id, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></p>
        <p><%= tweet.user.name %></p>
      <% end %>
      <%= link_to tweet_path(tweet.id) do %>
        <p><%= tweet.body %></p>
        <p><%= attachment_image_tag tweet, :image %></p>
      <% end %>
    <% end %>
  </div>
