<% visitor = notification.visitor %>
<% post = notification.post %>
<div class="ml-5 mt-3">
    <%= link_to user_path(visitor) do %>
      <strong><%= notification.visitor.name %></strong>
    <% end %>さんが
    <%= link_to post_path(notification.post_id) do %>
      <strong><%= post.body.truncate(20)%></strong>
    <% end %>にコメントしました。
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
</div>