<table class="table">
  <thead>
    <tr>
      <th class="col-2">name</th>
      <th class="col-3">Give</th>
      <th class="col-3">Take</th>
      <th class="col-1"><%= sort_order "industry_id", "業界" %></th>
      <th class="col-1"><%= sort_order "prefecture_id", "勤務地" %></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <p><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60×60' %></p>
            <p><%= user.name %></p>
          <% end %>
        </td>
        <td>
          <%= user.give %>
        </td>
        <td>
          <%= user.take %>
        </td>
        <td>
          <%= user.industry.name %>
        </td>
        <td>
          <%= user.prefecture.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>