<div class="container">
  <div class="col-sm-6 offset-3">
    <h1 class="mt-3">Edit</h1>
    <%= form_with model: @user, local:true do |f| %>
      <div><%= f.label "Name" %></div>
      <div><%= f.text_field :name, required: true, class: "col-sm-6" %></div>
      <div class="mt-2"><%= f.label "Icon" %></div>
      <div class="icon"><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></div>
      <div class="mt-2"><%= f.label "Introducion" %></div>
      <div><%= f.text_area :introduction, rows: "2" , class: "col-sm-12" %></div>
      <div class="mt-2"><%= f.label "Give" %></div>
      <div><%= f.text_field :give, class: "col-sm-12" %></div>
      <div class="mt-2"><%= f.label "Take" %></div>
      <div><%= f.text_field :take, class: "col-sm-12" %></div>
      <div class="mt-2"><%= f.label "勤務地", class: "col-sm-3" %><div>
      <div><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %><div>
      <div class="mt-2"><%= f.label "業界", class: "col-sm-3" %><div>
      <div><%= f.collection_select :industry_id, Industry.all, :id, :name %><div>
      <div class="mt-3 mb-3">
        <%= f.submit "編集完了", class: "btn btn-outline-success fas fa-edit col-sm-6 offset-3" %>
      </div>
    <% end %>
  </div>
</div>