<div class="container">
  <div class="row">
    <h2>ユーザー一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Give</th>
          <th>Take</th>
          <th><%= sort_order "industry_id", "業界" %></th>
          <th><%= sort_order "prefecture_id", "勤務地" %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <p><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60×60' %>
                <%= user.name %></p>
              <% end %>
            </td>
            <td>
              <%= user.give %>
            </td>
            <td>
              <%= user.take %>
            </td>
            <td>
              <%= user.industry.name %>
            </td>
            <td>
              <%= user.prefecture.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>