<div class="container">
  <div class="row">
    <div class="offset-1">
      <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120' %>
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% else %>
        <div class="follow-btn">
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <table class="offset-1">
      <thead>
        <tr>
          <th class="name"><%= @user.name %></th>
        </tr>
        <tr>
          <th>
            <%= link_to user_followings_path(@user) do %>
              フォロー
            <% end %>
          </th>
          <th class="pl-3"><%= @user.followings.count %></th>
        </tr>
        <tr>
          <th>
            <%= link_to user_followers_path(@user) do %>
              フォロワー
            <% end %>
          </th>
          <th class="pl-3"><%= @user.followers.count %></th>
        </tr>
        <tr>
          <th>業界</th>
          <th class="pl-3"><%= @user.industry.name %></th>
        </tr>
        <tr>
          <th>勤務地</th>
          <th class="pl-3"><%= @user.prefecture.name %></th>
        </tr>
      </thead>
    </table>
  </div>
  <table class="table col-10 offset-1 mt-4">
    <thead>
      <tr>
        <th class="col-1 align-top">Give</th>
        <th><%= @user.give %></th>
      </tr>
      <tr>
        <th class="col-1 align-top">Take</th>
        <th><%= @user.take %></th>
      </tr>
      <tr>
        <th class="col-1 align-top">introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
    </thead>
  </table>
  <!--マイページタブ部分-->
  <ul class="row tab-list list-unstyled">
    <li class="col-4 tab tab-active">
      my post
    </li>
    <li class="col-4 tab">
      follower post
    </li>
    <li class="col-4 tab">
      like post
    </li>
  </ul>
  <!--タブで選択された要素部分-->
  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <%= render 'posts/post', posts: @posts %>
    </div>
    <div class="tabbox">
      <%= render 'posts/post', posts: @follow_post %>
    </div>
    <div class="tabbox" id="like_posts_list">
      <%= render 'posts/post_like', posts: @like_post %>
    </div>
  </div>
</div>