<!DOCTYPE html>
<html>
  <head>
    <title>Give&Take</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="top">
    <div class="title">
      <div class="title-give">Give</div>
      <div class="title-half" data-content="&">&</div>
      <div class="title-take">Take</div>
    </div>
    <p></p>
    <div class="topbtn">
      <div><%= link_to "会員登録", new_user_registration_path, class: "topbtn-up" %></div>
      <div><%= link_to "Sign_in", new_user_session_path, class: "topbtn-in"  %></div>
    </div>
  </body>
</html>