<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="mt-3">DM User</h5>
      <% @dm_users.each do |dmuser| %>
        <%= link_to room_path(current_user.get_room_id(dmuser)) do %>
          <div><%= dmuser.name %></div>
        <% end %>
      <% end %>
    </div>
    <hr>
    <% if @room.present? %>
    <div class="col-sm-9">
      <h3 class="mt-3">Messages</h3>
      <div class="mt-3 mb-3">
      <%= form_with model: @message, local: true do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力してください",required: true %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する", class: "btn btn-outline-success btn-sm" %>
      <% end %>
      </div>
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <div class="border-top border-bottom">
            <p class="pl-3"><%= l m.created_at %></p>
            <p class="pl-5"><%= m.message %></p>
            <p class="pl-5">送信者：<%= m.user.name %></p>
          </div>
        <% end %>
      <%else%>
        <p>メッセージはまだありません</p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>