<div class="container">
  <%= form_with model: @post, local:true do |f| %>
    <div>
      <%= f.label "Body" %>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.label "Image" %>
      <%= f.attachment_field :image, placeholder: "画像" %>
    </div>
    <%= f.submit "Update User", class: 'btn btn-success' %>
  <% end %>
  <div>
    <%= link_to "Back",posts_path %>
  </div>
</div>