<!DOCTYPE html>
<html>
  <head>
    <title>Give&Take</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Give&Take</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer class="bg-dark">
    <div class="text-white">Give&Take</div>
  </footer>
</body>
</html>
